<div class="container-fluid">
    <ngx-spinner bgColor="#191919" [fullScreen]="false" type="ball-spin-clockwise" size="medium">
    </ngx-spinner>
    <div class="container" [hidden]="!contentLoaded">

        <div class="avatar">
            <img src="../../../../assets/img/8aafd8a6-1bc4-4765-ada7-cd4799f9a6e6.jfif" (load)="imageLoaded()"
                id="myself" alt="">
        </div>

        <p class="desc">Me chamo Ruslan, tenho 27 anos, vivo em Goiânia-GO. <br>
            Meus principais interesses são <strong>
                Front End Web</strong>, <strong>Mobile Cross-platform</strong> e
            <strong>UI/UX</strong>.<br>

        </p>

        <div class="social-media">
            <a href="https://github.com/ruslanpascoal2" target="_blank"><img src="../../../assets/img/github.png"
                    alt="Github"></a>
            <a href="https://www.linkedin.com/in/ruslan-pascoal-561214a0/" target="_blank"><img
                    src="../../../assets/img/linkedin.png" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/ruslanwtf/" target="_blank"><img src="../../../assets/img/instagram.png"
                    alt="Instagram"></a>
        </div>
    </div>

</div>