<div class="wrapper">


    <nav class="navbar navbar-expand-lg navbar-dark">


        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="hidden">HOME <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto right-links">

            <li class="nav-item mr-4">
                <a class="nav-link" routerLink="about" routerLinkActive="active">SOBRE</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" routerLink="portfolio" routerLinkActive="active">PORTFÓLIO</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" target="_blank"
                    href="https://drive.google.com/file/d/1JsAaA1dr4tflCaTfUf4AFk8UzL_-mj_o/view?usp=sharing">CURRÍCULO</a>
            </li>
            <li class="nav-item mr-4">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5562982820903&text=Ol%C3%A1%20Ruslan!"
                    class="nav-link">CONTATO</a>
            </li>
            <li class="nav-item ">
                <div class="theme-toggle" (click)="toggleTheme()">
                    <i class="fas fa-adjust"></i>
                </div>
            </li>



        </ul>

    </nav>

</div>