<div class="container-fluid">

    <div class="headline" id="myname">

        <h1 class="title stagger">Ruslan A. Pascoal</h1>
        <h5 class="subtitle stagger">Front End Developer</h5>
        <div class="stagger">
            <a href="https://api.whatsapp.com/send?phone=5562982820903&text=Ol%C3%A1%20Ruslan!" target="_blank"
                class="action-btn btn mt-3 btn-lg contact">
                ME CONTATE
            </a>
        </div>
    </div>

    <div class="home-img">
        <img [ngStyle]="{'display': this.hireMeButtonHovered ? 'block' : 'none'}" class="slide-in-bottom"
            src="../../../assets/img/hireme.png">
    </div>

</div>