<div class="wrapper" *ngIf="!menuExpanded; else menu">
    <i (click)="toggleMenu()" id="menu-icon" class="fas fa-bars"></i>
</div>

<ng-template #menu>

    <div class="menu-wrapper">

        <i (click)="toggleMenu()" id="menu-icon" class="fas fa-bars"></i>

        <div class="links">

            <a (click)="toggleMenu()" routerLink="">HOME</a>
            <a (click)="toggleMenu()" routerLink="portfolio">PORTFOLIO</a>
            <a (click)="toggleMenu()" routerLink="about">SOBRE</a>
            <a (click)="toggleMenu()" href="www.google.com">CONTATO</a>

        </div>

    </div>

</ng-template>