<div class="icon">
    <i (click)="toggleMenu()" id="menu-icon" class="fas fa-bars"></i>
</div>

<div *ngIf="menuExpanded" class="menu-wrapper">

    <div class="links">

        <a (click)="toggleMenu()" routerLink="">HOME</a>
        <a (click)="toggleMenu()" routerLink="portfolio">PORTFOLIO</a>
        <a (click)="toggleMenu()" routerLink="about">SOBRE</a>
        <a (click)="toggleMenu()"
            href="https://drive.google.com/file/d/1JsAaA1dr4tflCaTfUf4AFk8UzL_-mj_o/view?usp=sharing"
            target="_blank">CURRÍCULO</a>
        <a (click)="toggleMenu()">CONTATO</a>

    </div>

</div>