$background-color-dark: #222;
$primary-color: #f1f1f1;
$secondary-color: #b2b2b2;
$tertiary-color: #636363;
$highlight-color: #22ebf5;

$background-color-light: #f1f1f1;
$primary-color-light: rgb(68, 70, 226);
$secondary-color-light: rgb(66, 212, 223);
$tertiary-color-light: #941c8e;

.route-title {
    color: $primary-color;
    font-weight: bold;
    margin-top: 2rem;
}
